<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UmsMemberSignMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.entity.UmsMemberSign">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="showStatus" column="show_status" jdbcType="TINYINT"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
        <result property="creator" column="creator" jdbcType="VARCHAR"/>
        <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
        <result property="modifier" column="modifier" jdbcType="VARCHAR"/>
        <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, title, show_status, remark, gmt_create, creator, gmt_modified, modifier, is_delete
    </sql>

    <sql id="queryCondition">
        <if test="id != null">and id = #{id,jdbcType=BIGINT}</if>
        <if test="name != null">and name = #{name,jdbcType=VARCHAR}</if>
        <if test="title != null">and title = #{title,jdbcType=VARCHAR}</if>
        <if test="showStatus != null">and show_status = #{showStatus,jdbcType=TINYINT}</if>
        <if test="remark != null">and remark = #{remark,jdbcType=VARCHAR}</if>
        <if test="gmtCreate != null">and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}</if>
        <if test="creator != null">and creator = #{creator,jdbcType=VARCHAR}</if>
        <if test="gmtModified != null">and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}</if>
        <if test="modifier != null">and modifier = #{modifier,jdbcType=VARCHAR}</if>
        <if test="isDelete != null">and is_delete = #{isDelete,jdbcType=TINYINT}</if>
    </sql>

    <insert id="saveUmsMemberSign" keyColumn="id" keyProperty="id" parameterType="com.example.demo.entity.UmsMemberSign" useGeneratedKeys="true">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO ums_member_sign (id, name, title, show_status, remark, gmt_create, creator, gmt_modified, modifier, is_delete)
        VALUES (
            #{id,jdbcType=BIGINT},
            #{name,jdbcType=VARCHAR},
            #{title,jdbcType=VARCHAR},
            #{showStatus,jdbcType=TINYINT},
            #{remark,jdbcType=VARCHAR},
            #{gmtCreate,jdbcType=TIMESTAMP},
            #{creator,jdbcType=VARCHAR},
            #{gmtModified,jdbcType=TIMESTAMP},
            #{modifier,jdbcType=VARCHAR},
            #{isDelete,jdbcType=TINYINT}
        )
    </insert>

    <select id="getUmsMemberSignById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM ums_member_sign
        WHERE id = #{id,jdbcType=BIGINT} 
    </select>

    <select id="getUmsMemberSigns" parameterType="com.example.demo.entity.UmsMemberSign" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM ums_member_sign
        <where>
            <include refid="queryCondition"></include>
        </where>
    </select>
    
    <delete id="deleteUmsMemberSigns" parameterType="java.util.List">
        DELETE FROM ums_member_sign
        <where>
         id IN
            <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </delete>

    <update id="updateUmsMemberSign" parameterType="com.example.demo.entity.UmsMemberSign">
        UPDATE ums_member_sign
        <set>
            <if test="name != null">name = #{name,jdbcType=VARCHAR},</if>
            <if test="title != null">title = #{title,jdbcType=VARCHAR},</if>
            <if test="showStatus != null">show_status = #{showStatus,jdbcType=TINYINT},</if>
            <if test="remark != null">remark = #{remark,jdbcType=VARCHAR},</if>
            <if test="gmtCreate != null">gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},</if>
            <if test="creator != null">creator = #{creator,jdbcType=VARCHAR},</if>
            <if test="gmtModified != null">gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},</if>
            <if test="modifier != null">modifier = #{modifier,jdbcType=VARCHAR},</if>
            <if test="isDelete != null">is_delete = #{isDelete,jdbcType=TINYINT},</if>
        </set>
        WHERE id = #{id,jdbcType=BIGINT} 
    </update>
    
    <select id="countUmsMemberSign" parameterType="com.example.demo.entity.UmsMemberSign" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM ums_member_sign
        <where>
            <include refid="queryCondition"></include>
        </where>
    </select>
</mapper>
